:root {
  --text: rgb(172, 170, 170);
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
  --font: "Antonio", sans-serif;
  --font-paragraph: "Antonio", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Antonio", sans-serif;
  color: var(--text);
  min-height: 100vh;
  display: flex;
  background-color: hsl(0, 0%, 98%);
  flex-direction: column;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.nav {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

.nav .nav-list ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.nav a {
  text-decoration: none;
  color: var(--text);
  font-family: var(--font);
}
.nav .nav-button a,
.main-button a {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  padding: 8px 18px;
  text-align: center;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.nav button {
  display: none;
}

/* End of navbar */
#hamburger {
  display: none;
}
.main-section {
  display: flex;
  flex-direction: row;
  height: 700px;
  align-items: center;
  justify-content: space-between;
}
.main-section-img img {
  height: 700px;
}

.main-section-paragraph {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.main-header {
  width: 300px;
}
.main-text {
  width: 600px;
}
.main-header,
.main-button,
.main-text {
  padding: 20px 0;
}
.main-section-paragraph .main-header {
  color: var(--DarkBlue);
}

.main-section-paragraph p {
  letter-spacing: 1px;
  line-height: 1.6;
}

/* Section 2 */
.second-section {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  width: 550px;
  margin: 40px 0;
}
.second-section p {
  letter-spacing: 1px;
  line-height: 1.6;
}

/* Section 3 */
.third-section {
  display: flex;
  align-items: baseline;
  height: 300px;
  justify-content: space-between;
}

.third-section .service {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 280px;
}

.service-text p {
  width: 310px;
  line-height: 1.7;
  letter-spacing: 1px;
  padding-right: 50px;
}

.main-text p,
.second-section p,
.third-section .service-text p {
  font-family: var(--font-paragraph);
}

/* Section 4 */

.fourth-section {
  display: flex;
  flex-direction: column;
}

.main-section h1,
.second-section h1 {
  color: var(--DarkBlue);
  font-size: 40px;
}

.fourth-header {
  margin: 20px 0;
}

.fourth-content {
  display: flex;
  justify-content: space-between;
  height: 420px;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  height: 417px;
  border-radius: 15px;
  width: 313px;
}
.section-img {
  width: inherit;
}
.section-img img {
  height: 220px;
  border-radius: 13px 13px 0 0;
  width: inherit;
}
.section-author,
.section-paragraph {
  margin: 10px 5px;
}

.s3 {
  width: 200px;
}

.section-text h4 {
  color: var(--DarkBlue);
  font-family: var(--font);
  letter-spacing: 2px;
}

.section-paragraph {
  margin-top: 27px;
  width: 294px;
}
.section-text {
  font-size: 19px;
}
.third-section h2,
.fourth-header h1 {
  color: var(--DarkBlue);
}

.main-section,
.second-section,
.third-section,
.fourth-section {
  margin: 50px auto;
}

.second-section {
  margin: 50px 0;
}
/* Footer */

footer {
  background-color: var(--DarkBlue);
  color: white;
  margin-top: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-div1 {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.foot-div1 .logo,
.foot-div1 ul li {
  margin: 15px;
}
.foot-div2 .main-button,
.foot-div2 p {
  margin: 27px;
  padding: 0;
}
.foot-div2 p {
  color: rgb(106, 106, 106);
}

/* Media Query */
@media screen and (max-width: 500px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: auto;
    margin: 0 auto;
  }
  .main-section,
  .second-section,
  .third-section,
  .fourth-section {
    margin: 50px auto;
  }
  .nav .nav-list,
  .nav .nav-button {
    display: none;
  }

  #hamburger {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: var(--DarkBlue);
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    right: 0px;
    top: -61px;
  }

  #hamburger li {
    padding: 5px 0;
  }

  #hamburger a {
    text-decoration: none;
    color: var(--text);
  }
  #hamburger .nav-button {
    margin-right: 0;
  }

  #hamburger .nav-button a {
    border-radius: 5px;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 8px 18px;
    color: white;
  }

  .nav {
    width: 412px;
  }
  .nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 20px;
  }

  .main-section {
    position: relative;
    flex-direction: column;
    align-items: center;
    direction: ltr;
    height: 885px;
  }
  .main-section img {
    width: 345px;
    height: 484px;
  }

  .main-section-paragraph {
    width: inherit;
    text-align: center;
    align-items: center;
  }

  .main-section-paragraph p {
    width: inherit;
    font-size: 13px;
    width: inherit;
    padding: 0 15px;
  }
  .main-text {
    width: inherit;
  }
  .main-header {
    width: 400px;
  }

  .second-section {
    margin-top: 90px;
    width: 300px;
    align-items: center;
    text-align: center;
    height: 400px;
  }

  .second-section p {
    width: 170px;
  }

  .third-section {
    flex-direction: column;
    height: fit-content;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  .service-text {
    width: 335px;
  }
  .service-text p {
    width: inherit;
    padding-right: 0;
  }

  .fourth-content {
    flex-direction: column;
    height: fit-content;
    width: 375px;
  }

  .section {
    margin-bottom: 15px;
    margin-right: 0;
    height: 435px;
    padding-bottom: 15px;
    width: inherit;
  }
  .section-paragraph {
    margin-top: 27px;
    width: 337px;
  }
  .fourth-header {
    margin: 26px 0;
  }
  .fourth-header h1 {
    font-size: 40px;
    letter-spacing: 1.5px;
  }
  .section-img img {
    width: inherit;
  }
  .foot-div1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .logo {
    margin-bottom: 20px;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .foot1 {
    margin-bottom: -15px;
  }

  .nav button img {
    width: 40px;
  }
  .nav-logo img {
    margin-left: 20px;
  }
}
